<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}}</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="box">
    <header>
      <h1 data-pc>{{name}}</h1>
      <p>{{signature}}</p>
    </header>
    <main>
      <nav class="article-list">
        {{each article item}}
          <a href="{{item.url}}">
              <p class="title">{{item.title}}</p>
              <time>{{item.createTime}}</time>
          </a>
        {{/each}}
      </nav>
    </main>
  </div>
  <script src="/js/init.js"></script>
</body>
</html>
