<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{info.title}}-{{name}}</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/markdown.css">
  <link rel="stylesheet" href="/css/monokai-sublime.css">
  <link rel="stylesheet" href="/css/info.css">
</head>
<body>
  <div class="box">
    <header>
      <h1 data-pc>{{info.title}}</h1>
    </header>
    <main class="markdown-body">
      {{info.content}}
    </main>
  </div>
  <script src="/js/init.js"></script>
</body>
</html>
